# Node.js
node_modules/

# Python
*.pyc
*.pyo
__pycache__/
venv/
*.env

# IDEs & Editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
/dist
/build

package-lock.json
yarn.lock